    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style="text-align:right;">Travis Day</h1>
                        <p class="intro-text" style="text-align:right;">Developer. Musician. Student.<br>Creating the future.</p>
                        <a href="#about" class="btn btn-circle page-scroll" style="color:#444;">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
